.input-padrao {
  color: white;
  border-radius: 2rem;
  border: 1px solid #999999;
  background-color: transparent;
  font-size: 1.1rem;
  padding: 0.5rem;
  min-width: 15rem;
  margin-top: 1rem;
  width: 70%;
  height: 4%;
}
